
<form  (ngSubmit) = "onSubmit(newInvoiceData)" #newInvoiceData = "ngForm" role="form">
    <legend><div class="form-group">
        <label for="">Product Name:</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Insert the Name of the Product" required [(ngModel)] = "invoice.name">
    </div></legend>

    <div class="form-group">
        <label for="">Amount</label>
        <input type="text" class="form-control" name="amount" id="amount" required [(ngModel)] = "invoice.amount" value="1000">
    </div>

    

    <button type="submit" class="btn btn-primary">Save Invoice</button>
</form>
