<h1>
  {{title}}
</h1>


<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active">Home</a>
  <ul class="nav navbar-nav">
      <li><a routerLink="/invoice-form" routerLinkActive="active">Invoice Form</a></li>
      <li><a routerLink="/invoices" routerLinkActive="active">Invoices</a></li>
  </ul>
</nav>


<router-outlet></router-outlet>