invoices li { cursor: default; }
.invoices li:hover { background: #ecf0f1; }
Add a comment to this line
.list-group-item.active, 
.list-group-item.active:hover { 
    background-color: #ecf0f1;
    border-color: #ecf0f1; 
    color: #2c3e50;}