

<app-invoice-form (addInvoiceEvent)=addInvoice($event)></app-invoice-form>
<h2>List of Invoices</h2>
<app-spinner [visible]="isLoading"></app-spinner>
<div class="row">
    
    <ul class="list-group">
        <li *ngFor="let eachInvoice of invoices" class="list-group-item invoices"
        (click)="changeCurrentInvoice(eachInvoice)"
        [class.active] = "currentInvoice==eachInvoice">
            <app-invoice [invoice]="eachInvoice" 
            (deleteInvoiceEvent)="deleteInvoice($event)"></app-invoice>
        </li>
    </ul>
    
</div>
